<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DoughNationAppBeta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A4221201F5F9C77004BA4BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A4221341F5F9C77004BA4BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A42213F1F5F9C77004BA4BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
